.carousel-image:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 12px;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, black 20%, rgba(21,
                21,
                21,
                0) 100%);
    /* W3C */
}
.carouselHeight img{
    height: 500px;
    width: 100%;
    border-radius: 20px;
    margin-left: 40%;
}