@media screen and (max-width:376px) {
    
    .animation{
        text-align: start;
        font-size: 2rem;
    }
    .carousel-image img{
        padding-right: 20%;
        left: 0;
    }
    .details{
        font-size: 10px;
        margin: 0;
    }
}